
<h1 class="pt-5 pb-2"><img src="https://bit.ly/2sdmMMt"> Github-Search</h1>
<form action="">
    <div class="form-group">
        <input type="text" class="form-control m-5" placeholder="search git users with username" [(ngModel)]="username" name="username" (keyup)="findUser()">

    </div>
</form>
<div *ngIf="profile">
    <div class="panel-panel-default">

        <div class="panel-body">
            <div class="row">
                <div class="">
                    <img src="{{profile.avatar_url}}" class="img-fluid" alt="profile image">

                <div class="">
                <ul class="list-group">
                    <li class="list-group-item" *ngIf="profile.bio">{{profile.bio}}</li>
                    <li class="list-group-item" *ngIf="profile.hireable">Available for hire</li>
                    <li class="list-group-item" *ngIf="profile.blog"><a href="{{profile.blog}}"
                            target="blank">{{profile.blog}}</a></li>
                    <li class="list-group-item" *ngIf="profile.email"><a
                            href="emailto:{{profile.email}}">{{profile.email}}</a></li>
                </ul>
            </div>
            <div class="">
                <div>
                    <p>
                        <span class="label btn btn-success m-2">{{profile.followers}} followers</span>
                        <span class="label btn btn-warning m-2"> {{profile.following}} following</span>
                        <span class="label btn btn-info m-2">{{profile.public_repos}} public repos</span>
                    </p>
                    <p><a href="{{profile.html_url}}" target="_blank" class="btn btn-success btn-sm">view prifile on github</a></p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title rep">Repositories</h2>
                        </div>
                        <div class="panel-body rep" *ngFor="let repos of repos">
                           <p class="" style="color:black">
                            {{repos.name}} <br><a href="{{repos.html_url}}" target="_blank" class="btn btn-outline-success">View this project on github</a>
                           </p> 
                           <p appHighlight> {{repos.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>